html,body {
    height:100%;
}
body{
  letter-spacing: 0.5;
}
#indexContainer_popin{
  height: 500px;
  background-color: #303E4D;
  opacity: 0.9;
  margin-top: 50px;
  color: white;
}
#tubularWrapper{
  position:absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#container{
  height: 100%;
  z-index: 99;
}
#name{
  background-color: #2C3849;
  top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 30px;
}
#name h1{
  font-family: 'Lato',sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  padding-left: 20px;
}
#sidebar{
  background-color: #303E4D;
  height: 100%;
  color : white;
  padding: 0;
}
#sidebar h3{
  text-align: left;
  font-size: 1em;
  line-height: 1.25em;
  margin: 0 1em .1em;
  text-transform: uppercase;
  font-weight: 700;
  color: #acb1b7;
  width: 160px;
}
#sidebar a{
  color : white;
  text-decoration: none;
}
#channels{
  margin-bottom: 30px;
}
#sidebar ul{
  padding-left : 0;
}
#sidebar li{
  list-style: none;
  width: 90%;
  padding-left: 10px;
}
#channels .active{
  background-color: #6698C8;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
#channels .sharp{
  color: #acb1b7;
}
#chatzone{
  height: 100%;
}
#chatzone_content{
  height: 87%;
}
#currentUser{
  bottom: 0px;
  position: absolute;
  background-color: #2C3849;
  padding: 10px;
}
#currentUser .details{
  margin-left: 10px;
}
.onlineUser{
  background-color: #93CC92;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin-top: 6px;
  margin-right: 5px;
}
#channelName{
  font-weight: bold;
}
#textbox{
  bottom: 0;
}
#textbox textarea{
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}
#chatzone_content{
  overflow: auto;
}
#chatzone_content .profilePicture{
  margin-right: 10px;
  margin-top : 4px;
}
#chatzone_content .pseudo{
  font-weight: bold;
  letter-spacing: normal;
}
#chatzone_content .pseudo a{
  color: black;
}
#chatzone_content .pseudo a:hover{
  text-decoration: none;
}
#chatzone_content .time{
  color: lightgrey;
  font-size: 0.8em;
}
.chatzone_message{
  margin-bottom: 10px;
}
.profilePictureContainer{
}
.msgLine{
  padding: 0;
  margin: 0;
  margin-left: 42px;
  word-wrap: break-word;
}
#overlayer{
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: lightgrey;
  opacity: 0.8;
}
